<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">

      <!-- START ROW -->
      <div class="row">
        <div class="col-xl-12">
          <h4 class="mt-4 header-title p-2">Add Products</h4>
          <div class="container mt-3 ml-3">
            <form
              action="/admin/add-item"
              enctype="multipart/form-data"
              method="POST"
              style="width: 70%;"
            >
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="name"
                  aria-describedby="emailHelp"
                  required
                />

              </div>
              <div class="mb-3" >
                <select
                  name="category"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option name="category">Category</option>
                  {{#each categories}}
                    <option
                      name="option"
                      value="{{this.category}}"
                    >{{this.category}}</option>
                  {{/each}}
                </select>

              </div>
              <div class="mb-3">
                <div class="form-floating">
                  <label for="floatingTextarea">Description</label>
                  <textarea
                    name="description"
                    class="form-control"
                    placeholder="Product description"
                    id="floatingTextarea"
                    required
                  ></textarea>
                </div>

              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">price</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="price"
                  aria-describedby="emailHelp"
                  required
                />

              </div>

              <div class="mb-3">
                <label
                  for="exampleInputEmail1"
                  class="form-label"
                >Images</label>
                <div class="mb-2" id="formImages"   style="display: none;">
                    <img src="" id="imgview" class="imgWidth" alt="">
                    <img src=""   id="imgview1" class="imgWidth" alt="">
                    <img src="" id="imgview2" class="imgWidth" alt="">
                    <img src="" id="imgview3" class="imgWidth" alt="">
                </div>
                <div class="mb-3">

                  <input
                    class="form-control"
                    type="file"
                    id="formFile"
                    name="image"
                    onchange="viewImage(event)"
                    multiple
                    required
                  />
                </div>

              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

        </div>

      </div>
      <!-- END ROW -->

    </div>
    <!-- container-fluid -->

  </div>
  <!-- content -->

  <footer class="footer">
    <span class="d-none d-sm-inline-block"> Cozmo Admin Panel </span>
  </footer>

</div>