<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">

      <!-- START ROW -->
      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">

              <section>
                <div class="container mt-4">
                  <div class="row">
                    <div class="col-md-6 ml-5 m-auto">
                      <h2 class="text-center">Edit Banner</h2>
                      <form
                        action="/admin/edit-banner/{{banner._id}}"
                        method="post"
                        enctype="multipart/form-data"
                      >
                        <label>Name</label>
                        <input
                          type="text"
                          name="Name"
                          placeholder="{{banner.Name}}"
                          class="form-control"
                          required
                        /><br />

                        <label>Banner Text</label>
                        <input
                          type="text"
                          name="bannerText"
                          placeholder="{{banner.text}}"
                          class="form-control"
                          required
                        />
                        <br />
                        <label>Banner Description</label>
                        <input
                          type="text"
                          name="description"
                          class="form-control"
                          placeholder="{{banner.description}}"
                        />
                        <br />
                        <label>Image</label>
                        <input
                          type="file"
                          name="Images"
                          class="form-control"
                          multiple
                        />
                        
                        <button
                          type="submit"
                          class="btn btn-success mt-4"
                        >Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>

      </div>
      <!-- END ROW -->

    </div>
    <!-- container-fluid -->

  </div>
  <!-- content -->

  <footer class="footer">
    <span class="d-none d-sm-inline-block"> Cozmo Admin Panel </span>
  </footer>

</div>