<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">

      <!-- START ROW -->
      <div class="row">
        <div class="col-xl-12">
          <h4 class="mt-4 header-title p-2">Edit Category</h4>
          <div class="container mt-3 ml-3">
            <form
              action="/admin/edit-category/{{category._id}}"
              method="POST"
              class="w-50"
            >
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="category"
                  aria-describedby="emailHelp"
                  value="{{category.category}}"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

        </div>

      </div>
      <!-- END ROW -->

    </div>
    <!-- container-fluid -->

  </div>
  <!-- content -->

  <footer class="footer">
    <span class="d-none d-sm-inline-block"> Cozmo Admin Panel </span>
  </footer>

</div>