<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">

      

    </div>
    <!-- container-fluid -->

  </div>
  <!-- content -->

  <footer class="footer">
    <span class="d-none d-sm-inline-block"> Cozmo Admin Panel </span>
  </footer>

</div>

