<!--wrapper start-->
<div class="wrapper">

  <!--== Start Header Wrapper ==-->
  <header class="main-header-wrapper position-relative">
    <div class="header-top">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="header-top-align">
              <div class="header-top-align-start">
                <div class="desc">
                  <p>World Wide Completely Free Returns and Free Shipping</p>
                </div>
              </div>
              <div class="header-top-align-end">
                <div class="header-info-items">
                  <div class="info-items">
                    <ul>
                      <li class="number"><i class="fa fa-phone"></i><a href="tel://0123456789">+00 123 456 789</a></li>
                      <li class="email"><i class="fa fa-envelope"></i><a href="mailto://demo@example.com">demo@example.com</a></li>
                      
                      

                      {{#if user}}
                      <li class="account">
                              <div class="dropdown">
                          <button class="btn btn-sm btn-secondary dropdown-toggle" style="background-color:#eb3e32; border:none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{user.username}}
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                          </ul>
                        </div>
                      </li>
                      
                        {{else}}
                            <li class="account"><i class="fa fa-user"></i>
                      <a href="/login">Account</a>
                      </li>
                        {{/if}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-middle">
      <div class="container pt--0 pb--0">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="header-middle-align">
              <div class="header-middle-align-start">
                <div class="header-logo-area">
                  <a href="/">
                    <img class="logo-main" src="/user-assets/img/cosmo-logo.png" width="131" height="34" alt="Logo" />
                    <img class="logo-light" src="/user-assets/img/cosmo-logo.png" width="131" height="34" alt="Logo" />
                  </a>
                </div>
              </div>
              
              <div class="header-middle-align-end">
                <div class="header-action-area">
                  <div class="shopping-search">
                    <button class="shopping-search-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasSearch" aria-controls="AsideOffcanvasSearch"><i class="pe-7s-search icon"></i></button>
                  </div>
                  <div class="shopping-wishlist">
                    <a class="shopping-wishlist-btn" href="shop-wishlist.html">
                      <i class="pe-7s-like icon"></i>
                    </a>
                  </div>
                  <div class="shopping-cart">
                    <button class="shopping-cart-btn" type="button"  data-bs-target="#AsideOffcanvasCart" aria-controls="offcanvasRightLabel">
                      <a href="/cart"><i class="pe-7s-shopbag icon"></i>
                      {{#if user}}
                          {{!-- <sup class="shop-count">02 {{cartCount}}</sup> --}}
                          <span class="shop-count" id="cart-count">{{cartCount}}</span>
                          
                      {{/if}}
                      </a> 
                        {{!-- in the button class data-bs-toggle="offcanvas" --}}
                      
                    </button>
                  </div>
                  <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                    <i class="pe-7s-menu"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-area header-default">
      <div class="container">
        <div class="row no-gutter align-items-center position-relative">
          <div class="col-12">
            <div class="header-align">
              <div class="header-navigation-area position-relative">
                <ul class="main-menu nav">
                  <li ><a href="/"><span>Home</span></a></li>
                  <li><a href="#/"><span>Products</span></a>
                  <li><a href="/user-orders-list"><span>Orders</span></a>
                  <li><a href="#"><span>Profile</span></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->