<nav class="navbar navbar-expand-lg navbar-light bg-white py-2 fixed-top">
  <div class="container">
    <a
      class="navbar-brand d-flex justify-content-between align-items-center order-lg-0"
      href="index.html"
    >
      <img src="images/shoe-prints-solid.svg" alt="site icon" />
      <span class="text-uppercase fw-lighter ms-2">Cozmo</span>
    </a>

    <div class="order-lg-2 nav-btns">
      <button type="button" class="btn position-relative ">
        <i class="fa fa-search"></i>
        {{!-- <input
          style="border:none; outline: none;"
          class="me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        /> --}}
      </button>
      <button type="button" class="btn position-relative">
        <i class="fa fa-shopping-cart"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge bg-primary"
        >5</span>
      </button>
      <button type="button" class="btn position-relative">
        <i class="fa fa-heart"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge bg-primary"
        >2</span>
      </button>
            {{#if user}}
                <a href="/logout" class=""></a>
                {{else}}
                <a href="/login" class="btn btn-success">Login</a>
            {{/if}}
    </div>
    
        
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-lg-1" id="navMenu">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="#header">home</a>
        </li>
        <li class="nav-item px-2 py-2">
          <a
            class="nav-link text-uppercase text-dark"
            href="#collection"
          >collection</a>
        </li>
        <li class="nav-item px-2 py-2">
          <a
            class="nav-link text-uppercase text-dark"
            href="#special"
          >specials</a>
        </li>
        
        {{!-- <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="#about">about us</a>
        </li> --}}
        <li class="nav-item px-2 py-2 border-0">
          <a
            class="nav-link text-uppercase text-dark"
            href="#popular"
          >popular</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->