<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cozmo</title>

     <!--== Favicon ==-->
      <link
        rel="shortcut icon"
        href="/user-assets/img/favicon.ico"
        type="image/x-icon"
      />

      <!--== Google Fonts ==-->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,500&display=swap"
        rel="stylesheet"
      />

      <!--== Bootstrap CSS ==-->
      <link href="/user-assets/css/bootstrap.min.css" rel="stylesheet" />
      <!--== Font Awesome Min Icon CSS ==-->
      <link href="/user-assets/css/font-awesome.min.css" rel="stylesheet" />
      <!--== Pe7 Stroke Icon CSS ==-->
      <link href="/user-assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
      <!--== Swiper CSS ==-->
      <link href="/user-assets/css/swiper.min.css" rel="stylesheet" />
      <!--== Fancybox Min CSS ==-->
      <link href="/user-assets/css/fancybox.min.css" rel="stylesheet" />
      <!--== Aos Min CSS ==-->
      <link href="/user-assets/css/aos.min.css" rel="stylesheet" />

      <!--== Main Style CSS ==-->
      <link href="/user-assets/css/style.css" rel="stylesheet" />

      <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>



  <main class="main-content">

    <!--== Start My Account Area Wrapper ==-->
    <section class="account-area mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="section-title text-center">
              <h3 class="mt-5">Login With Phone Number</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="login-form-content">
              <form action="/otp-verification" method="POST">
                
         {{#if userBlock}}
                <p class="error text-center" style="color: red;">The number is blocked</p>
            {{/if}}

            {{#if userNotExist}}
                <p class="error text-center" style="color: red;">User doesnot exist</p>
            {{/if}}
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="username"> Enter your phone number <span class="required">*</span></label>
                      <input name="number" placeholder="Phone" class="form-control">
                    </div>
                  </div>
                  
                  <div class="col-12">
                    <div class="form-group">
                      <button type="submit" class="btn-login">Verify</button>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group account-info-group mb--0">
                      
                      <a
                      href="/signup"
                      class="text-secondary"
                      style="width: fit-content; text-decoration: none;"
                    >Create new account</a>
                <br />
                      <a
                        href="/login"
                        class="text-secondary"
                        style="width: fit-content; text-decoration: none;"
                      >Back to Login</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End My Account Area Wrapper ==-->
  </main>

  
