<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cozmo</title>

    {{#if userHead}}
      <!--== Favicon ==-->
      <link
        rel="shortcut icon"
        href="/user-assets/img/favicon.ico"
        type="image/x-icon"
      />

      <!--== Google Fonts ==-->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,500&display=swap"
        rel="stylesheet"
      />

      <!--== Bootstrap CSS ==-->
      <link href="/user-assets/css/bootstrap.min.css" rel="stylesheet" />
      <!--== Font Awesome Min Icon CSS ==-->
      <link href="/user-assets/css/font-awesome.min.css" rel="stylesheet" />
      <!--== Pe7 Stroke Icon CSS ==-->
      <link href="/user-assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
      <!--== Swiper CSS ==-->
      <link href="/user-assets/css/swiper.min.css" rel="stylesheet" />
      <!--== Fancybox Min CSS ==-->
      <link href="/user-assets/css/fancybox.min.css" rel="stylesheet" />
      <!--== Aos Min CSS ==-->
      <link href="/user-assets/css/aos.min.css" rel="stylesheet" />

      <!--== Main Style CSS ==-->
      <link href="/user-assets/css/style.css" rel="stylesheet" />

      <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{/if}}

    {{#if admin}}
        <link rel="stylesheet" href="../plugins/morris/morris.css">
        <link href="/admin-assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/admin-assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="/admin-assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/admin-assets/css/style.css" rel="stylesheet" type="text/css">
    {{/if}}

    
      {{#if adminLogin}}
        <link rel="stylesheet" href="/stylesheets/adminLogin.css">
      {{/if}}
       <link rel="stylesheet" href="/stylesheets/styles.css">
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      
  </head>

  <body>

    {{#if userHead}}
      {{>user-header}}
    {{/if}}

    {{#if admin}}
    {{>admin-sidebar}}
    {{/if}}

      {{#if adminLogin}}
      {{{body}}}
      {{/if}}

    {{{body}}}

    {{#if userHead}}
      {{>user-footer}}
    {{/if}}
  
    {{#if userHead}}
      <!--=== jQuery Modernizr Min Js ===-->
      <script src="/user-assets/js/modernizr.js"></script>
      <!--=== jQuery Min Js ===-->
      <script src="/user-assets/js/jquery-main.js"></script>
      <!--=== jQuery Migration Min Js ===-->
      <script src="/user-assets/js/jquery-migrate.js"></script>
      <!--=== jQuery Popper Min Js ===-->
      <script src="/user-assets/js/popper.min.js"></script>
      <!--=== jQuery Bootstrap Min Js ===-->
      <script src="/user-assets/js/bootstrap.min.js"></script>
      <!--=== jQuery Ui Min Js ===-->
      <script src="/user-assets/js/jquery-ui.min.js"></script>
      <!--=== jQuery Swiper Min Js ===-->
      <script src="/user-assets/js/swiper.min.js"></script>
      <!--=== jQuery Fancybox Min Js ===-->
      <script src="/user-assets/js/fancybox.min.js"></script>
      <!--=== jQuery Waypoint Js ===-->
      <script src="/user-assets/js/waypoint.js"></script>
      <!--=== jQuery Parallax Min Js ===-->
      <script src="/user-assets/js/parallax.min.js"></script>
      <!--=== jQuery Aos Min Js ===-->
      <script src="/user-assets/js/aos.min.js"></script>

      <!--=== jQuery Custom Js ===-->
      <script src="/user-assets/js/custom.js"></script>

    {{/if}}

    {{#if admin}}
              <!-- jQuery  -->
        <script src="/admin-assets/js/jquery.min.js"></script>
        <script src="/admin-assets/js/bootstrap.bundle.min.js"></script>
        <script src="/admin-assets/js/metismenu.min.js"></script>
        <script src="/admin-assets/js/jquery.slimscroll.js"></script>
        <script src="/admin-assets/js/waves.min.js"></script>

        <!--Morris Chart-->
        <script src="../plugins/morris/morris.min.js"></script>
        <script src="../plugins/raphael/raphael.min.js"></script>

        <script src="/admin-assets/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="/admin-assets/js/app.js"></script> 
    {{/if}}


     
    
      
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
    {{!-- ajax scripts --}}
      <script type="text/javascript" src="/javascripts/cart-functions.js"></script>
      <script type="text/javascript" src="/javascripts/validations.js"></script>
      <script type="text/javascript" src="/javascripts/script.js"></script>

  </body>

</html>